header {
  align-con: center;
}

#selectElement {
  width: 25%;
  margin-left: 37.5%;
  margin-bottom: 20px;
}

main {
  padding-left: 12.5%;
  padding-right: 12.5%;
}

footer {
  clear: both;
  text-align: center;
}